<% layout('layout') -%>

<div class="container">
    <h2>Account Information</h2>
    <div class="row">
        <p>Username: <%= user.username %></p>
        <p>Email: <%= user.email %></p>
    </div>

    <h2>User Objects</h2>
    <div class="row">
        <span class="text-muted">No Objects.</span>
    </div>

    <h2>Contacts</h2>
    <div class="row">
        <span class="text-muted">No Contacts.</span>
    </div>

    <h2>Messages</h2>
    <div class="row">
        <span class="text-muted">No Messages.</span>
    </div>

    <h2>Events</h2>
    <div class="row">
        <span class="text-muted">No Events.</span>
    </div>
</div>


